<h1>CookBook: Recipes Index List</h1>
  <ul>
    {{#each recipe in model}}
    <li class="recipes">
      <h3>{{recipe.name}}</h3>
      <p>{{recipe.recipeType}}</p>
      <p>{{recipe.description}}</p>
      <p>{{recipe.note}}</p>
      <p  class="prep-time">{{recipe.prepTime}}{{recipe.prepTimeUnit}}</p>
      <p class="temp">{{recipe.cookTemp}}{{recipe.cookTempUnit}}</p>
      <p class="yield">{{recipe.yieldName}}</p>
      <p class="yield">{{recipe.yieldNameUnit}}</p>

      </li>
  {{/each}}
  </ul>
  {{#link-to 'recipes.show' recipe}}
  {{/link-to}}
{{outlet}}
