<h1>CookBook: Recipes Index List</h1>

 <ul>
   {{#each recipe in model}}
   <hr/>
   <li class="recipes">

     <div class="left">
       <h3 class="name">{{recipe.name}}</h3>
       <p class="recipe-type">{{recipe.recipeType}}</p>
       <p class="description">{{recipe.description}}</p>
       <p class="prep-time">{{recipe.prepTime}}{{recipe.prepTimeUnit}}</p>
       <p class="temp">{{recipe.cookTemp}}{{recipe.cookTempUnit}}</p>
       <p class="yield">{{recipe.yieldName}}</p>
       <p class="yield">{{recipe.yieldNameUnit}}</p>
     </div>
     <div class="right">
       <p class="note">{{recipe.note}}</p>
     </div>
     <button {{action 'destroy'}}>Delete</button>
     <button {{action 'edit'}}>Edit</button>

     </li>
 {{/each}}
 </ul>

{{outlet}}
